.footer {
  background: #1f1f1f;
  color: #ffffff;
  padding: 60px 40px 40px;
}

.footer-container {
  max-width: 1270px;
  margin: auto;
  display: grid;
 grid-template-columns: 1.5fr 1fr 0.5fr 1.5fr auto;
 gap: 40px;
}

/* Logo + text */
.footer-logo {
 width: 250px;
  max-width: 100%;
  height: auto;
  margin-bottom: 0px;
}

.footer-about p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.7;
  color: #ddd;
}

/* Headings */
.footer h4 {
  color: #00a651;
  margin-bottom: 15px;
  font-size: 16px;
}

/* Quick links */
.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 15px;
}

.footer ul li a {
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
}

.footer ul li a:hover {
  color: #00a651;
}

/* Inputs */
.footer input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}

.send-btn {
  width: auto;
  padding: 8px 16px;
  font-size: 14px;
  background: #00a651;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block; 
}

.send-btn:hover {
  background: #008f45;
}

/* Get in touch */
.footer-col p {
  font-size: 16px;
  line-height: 1.6;
  color: #ddd;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 40px 20px;
  }
}

/* Footer Social Links */
.footer-social {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-social a {
   color: #ddd;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding-bottom: 12px;
  border-bottom: 1px solid #333;
  width: fit-content;
}

.footer-social a:last-child {
  border-bottom: none; /* remove last separator */
}

.footer-social a:hover {
  color: #00a651;
}

@media (max-width: 1024px) {
  .footer-social {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
  }

  .footer-social a {
    border-bottom: none;     /* remove separators */
    padding-bottom: 0;
    margin: 0;
  }
}
@media (max-width: 600px) {
  .footer-social {
    justify-content: center;
  }
}

