* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.page {
  min-height: 100vh;
  background: url("/assets/quickloan.jpg") no-repeat center center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form-container {
  background: rgba(6, 6, 6, 0.2); /* semi-transparent white */
  max-width: 900px;
  width: 100%;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}


.title {
  text-align: center;
  color: #0b7a2b;
  margin-bottom: 30px;
  font-weight: 700;
}

.loan-form {
  width: 100%;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
}

input,
select {
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 15px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #0b7a2b;
}

.submit-btn {
  width: 100%;
  margin-top: 20px;
  padding: 16px;
  background: #0b7a2b;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}

.submit-btn:hover {
  background: #095f22;
}

/* Responsive */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}


input,
select {
  padding: 14px 16px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 15px;
  transition: all 0.3s ease;
}

input:focus,
select:focus {
  outline: none;
  border-color: #0b7a2b;
  box-shadow: 0 0 0 3px rgba(11, 122, 43, 0.15);
}
